version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: leccion3u-frontend
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://35.239.79.6:3004
    volumes:
      - .:/app
      - /app/node_modules
    restart: unless-stopped
